extends layout

block content
 .container
  h1.header FreeCodeCamp Image Search Abstraction Layer
  blockquote 
   p: b User stories:
   p 1) I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
   p 2) I can paginate through the responses by adding a ?offset=10 parameter to the URL.
   p 2) I can get a list of the most recently submitted search strings.
  code https://image-search-abst.herokuapp.com/api/imagesearch/spongebob
  br
  code https://image-search-abst.herokuapp.com/api/imagesearch/spongebob/?offset=10
  br
  code  https://image-search-abst.herokuapp.com/api/history
