extends layout

block content
 .container
  h1.header FreeCodeCamp Image Search Abstraction Layer
  blockquote 
   p: b User stories:
   p 1) I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
   p 2) I can paginate through the responses by adding a ?offset=2 parameter to the URL.
   p 2) I can get a list of the most recently submitted search strings.
  code http://urls-shorten.herokuapp.com/new/https://google.com
  br
  code http://urls-shorten.herokuapp.com/new/https://www.google.com
  br
  h2 Example query usage:
  code https://my-app.herokuapp.com/spongebob?offset=2
  code https://my-app.herokuapp.com/spongebob
  h2 Example query output:
  h2 Example latest output:
